*.[ao]
.deps/
Makefile
Makefile.in
stamp-*
.dirstamp
/ABOUT-NLS
/INSTALL
/aclocal.m4
/ar-lib
/autom4te.cache/
/compile
/config.*
/configure
/depcomp
/install-sh
/m4/
/missing
/src/aqualung
/doc/*.aux
/doc/*.bz2
/doc/*.dvi
/doc/*.html
/doc/*.log
/doc/*.out
/doc/*.pdf
/doc/*.tex
/doc/*.tmp
/doc/*.toc
/doc/aqualung-doc-html/
/doc/aqualung-doc-html-chunk/
/doc/aqualung.1.txt
/po/*.gmo
/po/*.header
/po/*.sed
/po/*.sin
/po/*.poe
/po/Makefile.in.in
/po/Makevars.template
/po/POTFILES
/po/Rules-quot
/po/aqualung.pot
